<div class="container">
	<div class="jumbotron text-center">
		<h1>Eat the burger!</h1>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h4>Enter a burger you want to eat then click "Submit"</h4>
			<br>
			<form id="add" action="/burgers/add" method="POST">
				<input type="text" name="burger_name"></input>
				<button class="btn btn-sm btn-primary" type="submit"><b>Submit</b> </button>
			</form>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<br>
			<div class="card " style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Burgers to eat</h5>
					{{!-- for each displaying all burgers in database --}} {{#each burgers}} {{#unless this.devoured}}

					<form id="update" action="/burgers/devour/{{this.id}}?_method=PUT" method="POST">
						<label class="well">
							{{this.id}}. {{this.burger_name}}
						</label>
						<input type="hidden" name="devoured" value="true">
						<button class="btn btn-warning btn-sm" type="submit">Devour It! </button>
					</form>

					{{/unless}} {{/each}}

				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<br>

			<div class="card " style="width: 18rem;">
				<div class="card-body">
					<h4>Burgers Devoured!</h4>
					{{#each burgers}} {{#if this.devoured}}
					<div class="well devoured">
						{{this.id}}. {{this.burger_name}}
					</div>
					{{/if}} {{/each}}

				</div>
			</div>
		</div>
	</div>


</div>